body{
    background-color:burlywood;
}

h1{
    color: red;
    text-align: center;
}

h2{
    color:blue;
    text-align: center;
    border: 3px;
    border-style: solid;
    border-color: red;
    border-width: 10;
    text-decoration: solid;
}