#IDResultado{
    color: crimson;
    font-size: xx-large;
    font-weight: bolder;
}
h1{
    color:blue;
    font-weight: bold;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}